.span12
  .span5
    = form_for @user, :url => {:action => "create"} do |f|
      - @user.errors.full_messages.each do |msg|
        %p.alert-error= msg
      = f.label 'First Name'
      = f.text_field :first_name      
      = f.label 'Last Name'
      = f.text_field :last_name      
      = f.label 'Email'
      = f.text_field :email
      = f.label 'Password'
      = f.password_field :password
      = f.label 'Confirm'
      = f.password_field :password_confirmation
      %br/
      = f.submit :submit

  .span5
    %br/
    %br/
    %br/
    %br/
    %br/
    = link_to "SignUp with Google", google_signin_path, :class => 'btn pull-right'