<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @post.user.name %>
</p>

<p>
  <b>Name:</b>
  <%= @post.name %>
</p>

<p>
  <b>Description:</b>
  <%= @post.description %>
</p>


<%= link_to 'Edit', edit_post_path(@post) if @post.user == current_user %> |
<%= link_to 'Back', posts_path %>
