= form_for @user_session, :url => {:action => "create"} do |f|
  - @user_session.errors.full_messages.each do |msg|
    %p.alert-error= msg
  = f.label 'Email'
  = f.text_field :email
  = f.label 'Password'
  = f.password_field :password
  %br/
  = f.submit :submit

%br/
%br/
%br/
= link_to "SignIn with Google", google_signin_path, :class => 'btn'